@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Caveat:wght@400;500;600;700&family=Instrument+Serif:ital@0;1&family=Kanit:ital,wght@0,400;1,300&family=Orbitron:wght@400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Iso&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Orbitron", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-width: thin;
  cursor: none;
}
::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  -ms-overflow-style: none;
  scrollbar-width: thin;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  background-color: rgba(1, 4, 27);
  display: none;
}
body {
  background-color: rgba(1, 4, 27);
  color: #fff;
}
@mixin GLASS {
  background: rgba(5, 0, 64, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.9px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}
.PARENT {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  z-index: 1;
  .home-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    height: 60vh;
    @include GLASS;
    .big-logo {
      position: relative;
      margin-top: 50px;
      margin-bottom: 50px;
      & img {
        animation: wheelAnimation 60s linear infinite;
      }
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      width: 70%;
      margin-bottom: 20px;
    }
  }
}

@keyframes wheelAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header-parent {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  z-index: 10;
  overflow: hidden;
  @include GLASS();
  .logo {
    position: absolute;
    top: -50px;
    display: flex;
  }
  .user-status {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
}
.chat-parent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 99%;
  height: calc(100vh - 82px);
  .chat-history {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: calc(100% - 20px);
    @include GLASS();
  }
  .chat-box {
    // @include GLASS();
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 10px;
    height: calc(100% - 20px);
    &-conversation {
      flex: 1;
    }
    &-text-bar {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      //   height: 80px;
      width: 100%;
      overflow: hidden;
      @include GLASS();
      & input {
        height: 100%;
        width: 100%;
      }
      & button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 70px;
      }
    }
  }
}
